body {
  margin: 0;
  padding: 0;
}

nav {
  border: 2px solid pink;
  width: 550px;
  margin: 0 auto;
  height: 75px;
}

.container {
  width: 550px;
  height: 750px;
  margin: 0 auto;
  border: 2px solid purple;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 40px;
  object-fit: cover;
  margin: 1em;
}

.icon-logo {
  width: 75px;
}
